include utils.pug

doctype html
html
  head
    block head
      title="Busy Bees - Home"
      link(rel='stylesheet' href='/stylesheets/home.css')
  body
    header
        div(id="top-nav")
            input(type="search" id="top-nav-search")
            a(type="button" id="logout-button" class="btn" href="/users/logout") Log Out
        div(id="body")
            div(id="left-nav-bar") Left Navbar
                div(id="tasks-title" class="text nav-text") Tasks
                div(class="divider")
                a(type="submit" id="new-list-btn" href="/home/new-list") +
                div(id="lists-title" class="text nav-text") Lists
                    each list in lists
                        div(class="list-divider")
                        a(type="button" id=`list-#{list.id}` class="new-list" href=`/home/list/${list.id}`)= list.name
                div(class="divider")
            div(id="task-lists-body") Tasks go here
                div(id="tasks-body-header")
                    input(type="text" id="new-task-input" class="task-input" name="task" placeholder="Add a new task here...")
                    button(type="submit" class="task-input" id="new-task-btn") +
                div(class="tasks-divider")
                    p(class="task-single") hello
                        each task in tasks
                            p= task.id
                            div(class="tasks-divider")
            div(id="list-summary")
                h3(id="list-summary-title" class="list-summary-text text") List Summary
