extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="signup-div")
    div(id="signup-button-div")
      h1(id="signup-text" class="text") The smart to-do app for busy bees.
      a(type="button" class="signup-btn btn" href="/users/sign-up") Sign Up Free
  div(id="body-div")
    img(id="guy-phone-point" src="guy-pointing-at-phone.PNG")
    h2(id="guy-phone-text" class="text") Get to-do's organized and done.
      h3(id="guy-phone-desc" class="text") Create lists, keep track of tasks, *bee* more efficient!
  div(id="footer-div")
    div(id="footer-container" class="text")  insert footer here?
