extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  div(id="signup-div")
    h1(id="signup-text" class="text") The smart to-do app for busy bees.
    a(type="button" class="signup-btn btn" href="/users/sign-up") Sign Up Free
  div(id="body-div")
  div(id="footer-div")
    div(class="footer-container")
