doctype html
html
  head
    block head
      title="Busy Bees - Home"
      link(rel='stylesheet' href='/stylesheets/layout.css')

  body
    div(id="top-nav")
      div(class="top-container")
        img(id="logo" src="png-transparent-black-bee-illustration-honey-bee-computer-icons-insect-b-direct-save-bee-text-logo-insects.png")
        div(id="buttons")
          a(type="button" class="demo-btn btn top-btn" href="/home") Demo User
          a(type="button" class="github-btn btn" top-btn href="https://github.com/DylanPeate/Busy_Bees/wiki/Busy-Bee's-Feature-List") Github
          a(type="button" class="login-btn btn top-btn" href="/users/login") Log in
          a(type="button" class="signup-top-btn btn top-btn" href="/users/sign-up") Sign up for free
    block content
