doctype html
html
  head
    block head
      title="Busy Bees - Home"
      link(rel='stylesheet' href='/stylesheets/layout.css')

  body
    div(id="top-nav")
      div(class="top-container")
        a(id="home-icon" href="/") 🐝
          p(class="busy-bees") BUSY BEES
        div(id="buttons")
          a(type="button" class="demo-btn btn top-btn" href="/users/login") Demo User
          a(type="button" class="github-btn btn" top-btn href="https://github.com/DylanPeate/Busy_Bees/wiki/Busy-Bee's-Feature-List") Github
          a(type="button" class="login-btn btn top-btn" href="/users/login") Log in
          a(type="button" class="signup-top-btn btn top-btn" href="/users/sign-up") Sign up for free
    block content
