* {
  background-color: #fcf9ee;
  margin: 0;
}

.text {
  font-family: Helvetica, Arial, sans-serif;
  color: #4a401c;
}

#top-nav {
  display: inline-flex;
  justify-content: space-between;
  background-color: #ffd129;
  width: 100%;
  height: 40px;
}

#top-nav-search {
  position: relative;
  top: 4px;
  left: 227px;
  background-color: #ffe3a6;
  color: #646054;
  height: 80%;
  width: 25%;
  border-radius: 5px;
  border: none;
}

.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  border: none;
}

#logout-button {
  position: relative;
  color: #fcf9ee;
  white-space: nowrap;
  align-self: center;
  right: 8px;
  width: 50px;
  height: 16px;
  background-color: #646054;
  border-radius: 3px;
  padding: 7px 18px 7px 12px;
  margin-right: 5px;
  font-size: 15px;
  cursor: pointer;
}

#body {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  height: 900px;
}

#left-nav-bar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  min-width: 175px;
  max-width: 210px;
  margin-left: 10px;
  margin-right: 5px;
  background-color: #fcf9ee;
}


#tasks-title {
  display: flex;
  position: relative;
  top: 10px;
  flex-direction: column;
}

#all-tasks {
  color: #6f5f4e9c;
  text-decoration: none;
  line-height: 4;
}

#task-title-divider {
  display: flex;
  position: relative;
  top: 10px;
}

.divider {
  margin: 6px 0 -35px 0;
  background-color: #efe3b6;
  width: 100%;
  height: 1px;
}

#task-lists-body {
  position: relative;
  right: -13px;
  height: 100%;
  width: 50%;
  min-width: 570px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: white;
}

.tasks-container {
  background-color: white;
  overflow-y: auto;
  overflow-x: hidden;
  height: 830px;
  width: 100%;
}

.tasks-container::-webkit-scrollbar {
  width: 1em;
  background-color: #FCF9EE;
  /* outline: 1px solid slategrey; */
}

.tasks-container::-webkit-scrollbar-thumb {
  background-color: #bb8c3621;
}

#tasks-body-header {
  display: flex;
  background-color: white;
  border-top-right-radius: 15px;
  height: 71px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#input-bar {
  position: relative;
  top: 5px;
  left: -5px;
  text-align-last: center;
  width: 100%;
  background-color: transparent;
  white-space: nowrap;
}

#new-task-input {
  position: relative;
  height: 27px;
  width: 75%;
  color: #646054;
  font-family: sans-serif;
  border-radius: 8px;
  border-color: #F2D777;
}

#new-task-btn {
  position: relative;
  background-color: #FFD129;
  color: #646054;
  width: 28px;
  left: 7px;
  height: 28px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.task-input {
  position: relative;
  top: 18px;
}

.tasks-divider-top {
  position: relative;
  top: 10px;
  background-color: transparent;
  border-top: 1px solid;
  border-color: #f1eeea;
  width: 100%;
}

.tasks-divider {
  position: relative;
  background-color: transparent;
  border-top: 1px solid;
  border-color: #f1eeea;
  width: 100%;
}

.task-single {
  font-size: 15px;
  position: relative;
  line-height: 3.5;
  padding-left: 33px;
  border-left: solid #F2D777;
  top: 1px;
  background-color: white;
  padding-right: 10px;
  margin: 0; /* CHANGED BY ANTHONY */
}

.task-single:hover {
  font-size: 15px;
  color: #646054;
  position: relative;
  line-height: 3.5;
  padding-left: 33px;
  border-left: solid #F2D777;
  top: 1px;
  background-color: white;
  font-weight: 600;
  cursor: pointer;
  box-shadow: 2px 2px 5px #64605477;
}


.nav-text {
  margin-top: 50px;
  margin-left: 10px;
  font-size: 15px;
  font-weight: bolder;
}

#list-summary {
  padding-left: 50px;
  height: 100%;
  width: 35%;
  min-width: 300px;
  border-top-right-radius: 15px;
  background-color: #f2d777;
}

/* Anthony - Brian : This is the edit task Form CSS */


#edit-task {
  margin-top: 30px;
  position: absolute;
  margin-left: -1%;
  height: 40%;
  width: 35%;
  min-width: 300px;
  border-radius: 15px;
  background-color: #FCF9EE;
  box-shadow: 2px 2px 10px rgb(0 0 0 / 43%);
}

#edit-task {
  animation-duration: 1s;
  animation-name: slidein
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: -1%;
  }
}


#edit-task-header {
  text-align: center;
  background-color: transparent;
  font-weight: bold;
  font-size: 40px;
  position: relative;
  top: 64px;
}

#edit-task-form {
  position: relative;
  top: 13px;
  left: 10px;
  display: flex;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
}

#date-div {
  display: flex;
  position: relative;
  left: -124px;
  bottom: -67px;
  background-color: transparent;
  padding-bottom: 40px;
  padding-top: 40px;
  flex-direction: row;
  align-items: center;
}

#list-div {
  display: flex;
  position: relative;
  align-items: center;
  right: -90px;
  top: 0px;
  background-color: transparent;
}

#date-label {
  padding-left: 10px;
  padding-right: 10px;
  background-color: transparent;
  font-weight: bold;
}

#task-form-date {
  border-radius: 5px;
  border: 2px solid #646054a3;
  text-align: center;
  height: 23px;
  background: white;
  color: #646054;
}

#task-form-select {
  height: 27px;
  width: 117px;
  border-radius: 5px;
  text-align: center;
  background: white;
  border: 2px solid #646054a3;
  color: #646054;
}

#list-label {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #FCF9EE;
  font-weight: bold;
}

#edit-name {
  outline: none;
  text-align: center;
  height: 27px;
  border: 2px solid #646054a3;
  width: 80%;
  border-radius: 8px;
  position: relative;
  top: 75px;
  right: 11px;
  background-color: #ffffff;
  color: #646054;
}

#edit-task-submit {
  width: 20%;
  position: relative;
  bottom: -30px;
  left: -10px;
  color: #4A401C;
  white-space: nowrap;
  align-self: center;
  background-color: #FFD129;
  border-radius: 3px;
  padding: 7px 18px 7px 16px;
  font-size: 15px;
  cursor: pointer;
}

#completed-checkbox {
  display: flex;
  position: relative;
  top: -32px;
  background-color: transparent;
  left: 13px;
  padding: none;
  margin: 0;
}

#c-checkbox {
  display: inline;
  padding: none;
  margin: 0;
}
/* Anthony - Brian : This is the edit task Form CSS */


#list-summary-title {
  position: relative;
  background-color: #f2d777;
  top: 20px;
  right: -8px;
  width: 150px;
  font-size: 25px;
  white-space: nowrap;
  font-weight: 550;
  line-height: 1.1;
}

.list-divider {
  margin: 6px 0 -35px 0;
  background-color: #efe3b6;
  width: 100%;
  height: 1px;
}

.new-list {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  line-height: 4;
  font-size: 12px;
  width: fit-content;
  margin-top: 40px;
  margin-bottom: -5px;
  color: #6f5f4e9c;
  background-color: transparent;
  font-weight: bold;
}

#new-list-btn {
  position: relative;
  top: 67px;
  left: 54px;
  background-color: #FFD129;
  color: #646054;
  width: 20px;
  height: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

#list-form-container {
  position: absolute;
  top: 217px;
  width: 175px;
  height: 80px;
  z-index: 10;
  box-shadow: 0 0 4px #646054;
  background-color: #FFD129;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
  border-radius: 7px;
}

#listName {
  position: relative;
  font-family: sans-serif;
  border-color: #F2D777;
  text-align-last: center;
  border-radius: 8px;
  padding: 3px 0;
  top: 12px;
  top: 13px;
  left: 16px;
  width: 80%;
}

#cancel-btn {
  place-self: center;
  color: #fcf9ee;
  white-space: nowrap;
  align-self: center;
  font-family: sans-serif;
  background-color: #646054;
  border-radius: 3px;
  padding: 6px 20px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

#delete-list-btn {
  position: relative;
  top: 54px;
  left: 18px;
  background-color: #FFD129;
  color: #646054;
  width: 20px;
  height: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#confirm-delete {
  position: absolute;
  text-align: center;
  font-size: 17px;
  box-shadow: 0 0 4px #646054;
  z-index: 9;
  left: 10px;
  top: 248px;
  width: 175px;
  height: 80px;
  background-color: #FFD129;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  align-content: stretch;
  justify-content: space-evenly;
}

.confirm-list {
  background-color: transparent;
  color: #ff4d4dc9;
  position: relative;
  font-size: 16px;
  top: 9px;
}

#confirm-yes-no-buttons {
  background-color: transparent;
  display: inline-flex;
  position: relative;
  top: 21px;
  left: -13px;
}

.yes-button {
  position: relative;
  margin: 0px 32px;
  color: #0eca16;
  background-color: #FFD129;
  width: 20px;
  height: 18px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#list-with-button {
  display: flex;
}

#no-confirm-btn {
  position: relative;
  margin: 0px 15px;
  background-color: #FFD129;
  color: #ffffff;
  width: 20px;
  height: 18px;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#add-list-buttons {
  display: flex;
  background-color: transparent;
  flex-direction: row;
  position: relative;
  top: 21px;
  left: 3px;
  justify-content: space-around;
}

#new-list-form {
  background-color: transparent;
}

#create-list-btn {
  color: #fcf9ee;
  white-space: nowrap;
  align-self: center;
  background-color: #646054;
  border-radius: 3px;
  padding: 6px 10px;
  margin-right: 5px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

#sort-btn {
  position: relative;
  background-color: #FFD129;
  left: 16px;
  color: #646054;
  width: 28px;
  height: 28px;
  font-family: sans-serif;
  font-weight: bold;
  border-radius: 3px;
  border: 0px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

#logo-divider {
  position: relative;
  top: 10px;
  margin: 6px 0 -36px 0;
  background-color: #efe3b6;
  width: 100%;
  height: 0px;
}

#bee-icon {
  position: relative;
  width: 175px;
  height: 175px;
  left: 3px;
  top: 10px;
  cursor: pointer;
}

#delete-task-button {
  position: relative;
  left: -10px;
  top: 47px;
  color: #ffffff;
  white-space: nowrap;
  align-self: center;
  background-color: #ff7000;
  border-radius: 3px;
  padding: 7px 18px 7px 16px;
  font-size: 15px;
  cursor: pointer;
}

#counters-container {
  display: flex;
  position: relative;
  background: transparent;
  top: 37px;
  left: 10px;
  flex-direction: row;
  font-weight: bold;
  text-align: center;
}

#task-count-container {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}

#complete-count-container {
  text-align: center;
  border-radius: 5px;
  padding: 10px;
  margin-left: 11px;
}
