* {
    background-color: #FCF9EE;
}

#top-nav {
    background-color: #FFD129;
    width: 100%;
    height: 40px;
}

#body {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    height: 900px;
}

#left-nav-bar {
    height: 100%;
    width: 15%;
    background-color: #FCF9EE;
}

#task-lists-body {
    position: relative;
    right: -13px;
    height: 100%;
    width: 50%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    background-color: white;
}

#list-summary {
    padding-left: 35px;
    height: 100%;
    width: 35%;
    border-top-right-radius: 15px;
    background-color: #F2D777;
}

.list-summary-text {
    font-family: Helvetica, Arial, sans-serif;
    color: #4A401C;
    font-weight: 550;
    line-height: 1.1;
}
