#signup-div {
    position: relative;
    text-align-last: center;
    padding-top: 30px;
    height: 215px;
    width: 100%;
    background-color: #FFD129;
}

#signup-button-div {
    background-color: transparent;
    margin-top: 10px;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
}

#signup-text {
    text-align: center;
    font-size: 48px;
    color: white;
    background-color: #FFD129;
}

.signup-btn {
    position: relative;
    top: 45px;
    color: #FCF9EE;
    background-color: #56cf01;
    border-radius: 3px;
    padding: 7px 12px 7px;
    font-size: 25px;
    padding: 15px 25px;
    cursor: pointer;
}

.signup-btn:hover {
    background-color: #4ebd00;
}

#body-div {
    height: 666.8px;
    width: 100%;
    background-color: #ffcb00;
    color: white;
    text-align: center;
}

#footer-div {
    height: 323px;
    width: 100%;
    background-color: #FCF9EE;
}

#guy-phone-point {
    display: inline-block;
    vertical-align: middle;
    background-color: transparent;
    width: 600px;
    height: 450px;
}

#guy-phone-text {
    font-size: 35px;
}

#guy-phone-desc {
    margin-top: 15px;
}

#footer-container {
    text-align: center;
    margin-top: 152px;
}
